body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:url(../images/background_pink.jpg) #fff ; color:#4F4F4F; }
div,p,a,span,em,strong,img,h1,h2,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; text-decoration:none; }
a:hover                        { text-decoration:none; }
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

#wrapper { width:780px; height:100%; margin: 0 auto; background-color: #fff;}

#header {}
#header h1 { background:url(../images/logo.jpg) no-repeat; width:770px; height:192px; text-indent:-99999px; margin-bottom:13px;}

#content { padding: 0 36px;}
#content h2 {color: #D777B7; font:18px Georgia, sans-serif; background-color: #FCF1F7; padding: 10px 0 10px 14px; font-style: italic; font-weight:normal;}
#content h3 {color: #4B8BBF; font:18px Georgia, sans-serif; background-color: #EBF4FB; padding: 10px 0 10px 14px; font-style: italic; font-weight:normal; clear:both;}
#content .mainTxt li { margin-top:12px; clear:both;}
#content a { color:#4B8BBF;}
#content a:hover { text-decoration:underline;}
#content .read {float:left; margin:19px 0 12px 0; background:url(../images/read_bg.jpg) no-repeat 100% 69%; padding-right:10px; color:#4B8BBF !important;}

#content .popular_img li { width:136px; height:160px; float:left; padding-left:5px; display:block; text-align:center;}
#content .popular_img {  overflow:hidden;}

#content .popular_news { margin-top:24px;  background-color: #EBF4FB; height:219px; width:354px; line-height:18px; color:#656565; float:left;}
#content .popular_news h4 { color: #4B8BBF; font:18px Georgia, sans-serif; padding: 10px 0 10px 14px; font-style: italic; font-weight:normal;}
#content .popular_news a { color:#656565; }
#content .popular_news ul { padding: 0 0 0 12px;}

#content .popular_press { margin-top:24px;  background-color: #EBF4FB; height:219px; width:331px; line-height:18px; color:#656565; float:right; }
#content .popular_press h4 { color: #4B8BBF; font:18px Georgia, sans-serif; padding: 10px 0 10px 14px; font-style: italic; font-weight:normal;}
#content .popular_press a { color:#656565; }
#content .popular_press ul { padding: 0 0 0 12px;}

#popular { overflow:hidden;}

#footer { width:705px; margin: 52px auto 0 auto;text-align:center; clear:both; line-height:19px;}
#footer p { color:#D97FBB;}
#footer li { float:left; padding-left:10px; font-size:11px; }
#footer li a { color:#959595;}
